* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #040406;

}

a {
  color: inherit;
  text-decoration: none;
}

.nav-bar {
  background: #0B0819;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

li {
  margin: 1rem;
  font-weight: 200;
}

.logo {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.selected {
  color: #627EEA;
  text-decoration: underline;
  text-decoration-color: #627EEA;
  text-decoration-style: solid;
  text-underline-offset: 1.2rem;
  font-weight: 600;
  text-decoration-thickness: 0.2rem;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.btn-connect {
  margin-right: 2rem;
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 10rem;
  height: 2rem;
  padding: 20px;
  padding-left: 20px;
  line-height: 20px;
  padding-right: 20px;
  border-radius: 100px;
  font-weight: 600;
  box-sizing: border-box;
  color: white;
  font-size: small;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  background: rgb(51, 135, 213);
  background: linear-gradient(160deg, rgba(51, 135, 213, 1) 34%, rgba(122, 6, 201, 1) 100%);
}

.center-container {
  position: relative !important;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.circular-container {
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1C1731;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  padding: 0;
}

.price-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  max-width: 470px;
  max-height: 567px;

}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 500px;
  text-align: left;
}

.content-container>p {
  margin-top: 1.7rem;
  margin-bottom: 0.8rem;
  color: #DCDCEC;
  font-size: 1rem;
  font-weight: 300;
}

.row-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  font-weight: 300;
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-items: center;
  font-size: 1rem;
  color: #C5C5C5;
}

.semibold {
  font-weight: 600 !important;
  font-size: 1.6rem !important;
}

.primary-color {
  color: #627EEA !important;
}

input {
  padding: 0.8rem;
  border: 1px solid #627EEA;
  font-weight: 600;
  font-size: 1.4rem;
  color: #6F6F7E;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  margin-left: 0;
}

input:not([disabled]) {
  background-color: #0B0819;
  color: white;
}

input:is([disabled]) {
  background-color: #1C1731;
  border-radius: 0.5rem;
  color: #6F6F7E;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input-div {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: space-evenly;
  padding: 0;
}

.input-div>span {
  background-color: #fff;
  color: white;
  background-color: #0B0819;
  border-top: 1px solid #627EEA;
  border-bottom: 1px solid #627EEA;
  border-right: 1px solid #627EEA;
  padding: 1.1rem;
}

.input-div>input {
  border-right: none;
  width: 93%;
}

input:focus {
  outline: none;
}

.btn-buy {
  padding: 1rem;
  margin-top: 3rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5rem;
  background: rgb(51, 135, 213);
  background: linear-gradient(160deg, rgba(51, 135, 213, 1) 34%, rgba(122, 6, 201, 1) 100%);
}

.dropdown-container {
  padding: 1rem;
  border: 1px solid #627EEA;
  background: #1C1731;
  font-weight: 200;
  font-size: 1rem;
  color: #FFFFFF;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  margin-left: 0;
  border-radius: 0.5rem;
  display: flex;
  align-content: baseline;
  width: 100%;
  align-content: space-evenly;
  cursor: pointer;
}

.symbol-container {
  display: flex;
  width: 93%;
  align-content: center;
}

.symbol-container>span {
  margin-left: 0.5rem;
}

.dialog-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 90vh;
  background-color: #0b0819e7;
  z-index: 9999;
  transition: all 0.25s ease-in-out;
}

.dialog-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #181627;
  height: 60%;
  width: 38%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}

.search-container {
  position: absolute;
  top: 10%;
  display: flex;
  align-items: center;
  width: 80%;
  border: 1px solid #6E56F8;
  padding: 0.5rem;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.search-container>input {
  height: 1rem;
  font-size: 0.85rem;
  font-weight: 200;
  border: none;
  width: 90%;
  background-color: #181627;
  padding: 0.3rem;
}

.token-list {
  overflow-y: scroll;
  height: 70%;
  position: absolute;
  top: 20%;
  width: 90%;
  padding: 0.5rem;
  cursor: pointer;
}

.symbol-row {
  display: flex;
  align-items: center;
  border-radius: 2px;
  margin: 0.5rem;
  padding: 0.5rem;
  justify-content: space-between
}

.symbol-row:hover {
  background-color: #1B192D;
}

.flex-container {
  display: flex;
  align-items: center;
}

.flex-container>span {
  margin-left: 0.4rem;
}

.card-container {
  max-width: 500px;
  max-height: 600px;
  min-width: 30%;
  min-height: 40%;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 7%;

}